<h3 class="text-dark" spellcheck="false">View today's crypto news</h3>
<p>The global crypto market cap is <span class="text-dark font-weight-bold text-sm">$2.80T</span>, a <span class="text-danger text-sm"><small><i class="fa fa-caret-down me-1" aria-hidden="true"></i></small>0.70%</span> decrease over the last day.</p>
<div class="row removable">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center pt-3">
                <h6 class="mb-0">
                    Trending
                    <span class="badge bg-success-soft ms-2">
                        <i class="fa fa-fire text-success" aria-hidden="true"></i>
                    </span>
                </h6>
                <a href="javascript:;" class="ms-auto text-secondary text-xs font-weight-bold">See more</a>
            </div>
            <div class="card-body pt-0">
                <div class="d-flex align-items-center mb-3">
                    <p class="me-3 text-xs mb-0">1</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Elrond</p>
                    <p class="text-sm mb-0">EGLD</p>
                    <i class="fa fa-caret-up text-success text-xxs me-1 ms-auto" aria-hidden="true"></i>
                    <p class="text-xs text-success mb-0">11.23%</p>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="me-3 text-xs mb-0">2</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Ethereum</p>
                    <p class="text-sm mb-0">ETH</p>
                    <i class="fa fa-caret-up text-success text-xxs me-1 ms-auto" aria-hidden="true"></i>
                    <p class="text-xs text-success mb-0">5.84%</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="me-3 text-xs mb-0">3</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Solana</p>
                    <p class="text-sm mb-0">SOL</p>
                    <i class="fa fa-caret-up text-success text-xxs me-1 ms-auto" aria-hidden="true"></i>
                    <p class="text-xs text-success mb-0">9.60%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center pt-3">
                <h6 class="mb-0">
                    Top Gainers&nbsp;<span class="badge bg-success-soft ms-2">
                        <i class="fa text-success fa-arrow-up rotate-45" aria-hidden="true"></i>
                    </span>
                </h6>
                <a href="javascript:;" class="ms-auto text-secondary text-xs font-weight-bold">See more</a>
            </div>
            <div class="card-body pt-0">
                <div class="d-flex align-items-center mb-3">
                    <p class="me-3 text-xs mb-0">1</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Ethereum</p>
                    <p class="text-sm mb-0">ETH</p>
                    <i class="fa fa-caret-up text-success text-xxs me-1 ms-auto" aria-hidden="true"></i>
                    <p class="text-xs text-success mb-0">12.45%</p>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="me-3 text-xs mb-0">2</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Bitcoin</p>
                    <p class="text-sm mb-0">BTC</p>
                    <i class="fa fa-caret-up text-success text-xxs me-1 ms-auto" aria-hidden="true"></i>
                    <p class="text-xs text-success mb-0">9.11%</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="me-3 text-xs mb-0">3</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Elrond</p>
                    <p class="text-sm mb-0">EGLD</p>
                    <i class="fa fa-caret-up text-success text-xxs me-1 ms-auto" aria-hidden="true"></i>
                    <p class="text-xs text-success mb-0">8.60%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center pt-3">
                <h6 class="mb-0">
                    Just Added
                    <span class="badge bg-light ms-2">
                        <i class="fa fa-clock rotate-45 text-secondary" aria-hidden="true"></i>
                    </span>
                </h6>
                <a href="javascript:;" class="ms-auto text-secondary text-xs font-weight-bold">See more</a>
            </div>
            <div class="card-body overflow-scroll pt-0">
                <div class="d-flex align-items-center mb-3">
                    <p class="me-3 text-xs mb-0">1</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Avalanche</p>
                    <p class="text-sm mb-0">AVAX</p>
                    <p class="text-xs text-dark font-weight-bold ms-auto mb-0">$0.000000004345</p>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="me-3 text-xs mb-0">2</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Algorand</p>
                    <p class="text-sm mb-0">ALGO</p>
                    <p class="text-xs text-dark font-weight-bold ms-auto mb-0">$0.000000001083</p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="me-3 text-xs mb-0">3</p>
                    <p class="text-sm text-dark font-weight-bold me-2 mb-0">Dai</p>
                    <p class="text-sm mb-0">DAI</p>
                    <p class="text-xs text-dark font-weight-bold ms-auto mb-0">$0.00000000003200</p>
                </div>
            </div>
        </div>
    </div>
</div>
