<div class="card mb-4">
  <div class="card-header pb-0">
      <h6>Watchlist</h6>
  </div>
  <div class="card-body px-0 pt-2 pb-0">
      <div class="table-responsive">
          <table class="table align-items-center mb-0">
              <thead>
                  <tr>
                      <th class="text-secondary text-sm font-weight-bold opacity-8">Name</th>
                      <th class="text-secondary text-sm font-weight-bold opacity-8 ps-2">Price</th>
                      <th class="text-secondary text-sm font-weight-bold opacity-8 ps-2">24h %</th>
                      <th class="text-secondary text-sm font-weight-bold opacity-8">7d %</th>
                      <th class="text-secondary text-sm font-weight-bold opacity-8 text-center">Market Cap</th>
                      <th class="text-secondary text-sm font-weight-bold opacity-8 text-center">Volume(24h)</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          <h6 class="mb-0 ps-3">Bitcoin<span class="text-secondary ms-2">BTC</span></h6>
                      </td>
                      <td>
                          <h6 class="mb-0 font-weight-normal">$64,068.55</h6>
                      </td>
                      <td>
                          <span class="text-danger"><small><i class="fa fa-caret-down me-1" aria-hidden="true"></i></small>0.3%</span>
                      </td>
                      <td>
                          <span class="text-success"><small><i class="fa fa-caret-up me-1" aria-hidden="true"></i></small>2.59%</span>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$1,211,705,537,360</h6>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$28,953,866,362</h6>
                          <span class="text-secondary text-sm ms-auto">450,999 BTC</span>
                      </td>
                      <td class="text-center">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h6 class="mb-0 ps-3">Ethereum<span class="text-secondary ms-2">ETH</span></h6>
                      </td>
                      <td>
                          <h6 class="mb-0 font-weight-normal">$4,603.26</h6>
                      </td>
                      <td>
                          <span class="text-success"><small><i class="fa fa-caret-up me-1" aria-hidden="true"></i></small>1.56%</span>
                      </td>
                      <td>
                          <span class="text-success"><small><i class="fa fa-caret-up me-1" aria-hidden="true"></i></small>5.18%</span>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$546,240,393,678</h6>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$15,817,101,592</h6>
                          <span class="text-secondary text-sm ms-auto">3,427,076 ETH</span>
                      </td>
                      <td class="text-center">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h6 class="mb-0 ps-3">Solana<span class="text-secondary ms-2">SOL</span></h6>
                      </td>
                      <td>
                          <h6 class="mb-0 font-weight-normal">$240.04</h6>
                      </td>
                      <td>
                          <span class="text-danger"><small><i class="fa fa-caret-down me-1" aria-hidden="true"></i></small>1.36%</span>
                      </td>
                      <td>
                          <span class="text-danger"><small><i class="fa fa-caret-down me-1" aria-hidden="true"></i></small>1.72%</span>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$72,822,948,085</h6>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$2,262,116,043</h6>
                          <span class="text-secondary text-sm ms-auto">9,418,744 SOL</span>
                      </td>
                      <td class="text-center">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h6 class="mb-0 ps-3">Cardano<span class="text-secondary ms-2">ADA</span></h6>
                      </td>
                      <td>
                          <h6 class="mb-0 font-weight-normal">$2.03</h6>
                      </td>
                      <td>
                          <span class="text-success"><small><i class="fa fa-caret-up me-1" aria-hidden="true"></i></small>0.82%</span>
                      </td>
                      <td>
                          <span class="text-danger"><small><i class="fa fa-caret-down me-1" aria-hidden="true"></i></small>1.18%</span>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$67,500,552,300</h6>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$1,492,418,085</h6>
                          <span class="text-secondary text-sm ms-auto">736,546,618 ADA</span>
                      </td>
                      <td class="text-center">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h6 class="mb-0 ps-3">Polkadot<span class="text-secondary ms-2">DOT</span></h6>
                      </td>
                      <td>
                          <h6 class="mb-0 font-weight-normal">$45.53</h6>
                      </td>
                      <td>
                          <span class="text-success"><small><i class="fa fa-caret-up me-1" aria-hidden="true"></i></small>0.02%</span>
                      </td>
                      <td>
                          <span class="text-danger"><small><i class="fa fa-caret-down me-1" aria-hidden="true"></i></small>14.39%</span>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$44,963,987,123</h6>
                      </td>
                      <td class="text-center">
                          <h6 class="mb-0 font-weight-normal">$1,112,282,354</h6>
                          <span class="text-secondary text-sm ms-auto">24,429,930 DOT</span>
                      </td>
                      <td class="text-center">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
